* {
    box-sizing: border-box;
  }

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

img{
    height: 300px;
    width: 400px;
}

iframe{
    height: 300px;
    width: 500px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}